/* styling for burger menu */

.menu {
    width: 20vw;
    height: 100vh;
    z-index: 1;
    position: fixed;
    left: -200vw;


}
.container {
    padding: 5px;
    width: 5em;
    z-index: 2;
    position: fixed;
    top: 20px;
    left: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 20vw;
    position: relative;
    top: 10%;
}

li {
    display: flex;
    flex-flow: row;


}

li a {
    display: block;
    padding: 20px;
    font-size: 2em;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: #dbcc0b;
}

/* burger icons */

.container div {
    margin: 0em;
    width: 40px;
    background-color: #fff;
    border-radius: 3px;
    content: '';
    display: block;
    height: 5px;
    margin: 7px 0;
    transition: all .2s ease-in-out;
}


.barupactive {
    transform: translateY(12px) rotate(135deg);
}

.bardownactive {
    transform: translateY(-12px) rotate(-135deg);
}

.barmiddleactive {
    transform: scale(0);
}


/* expand the burger menu animation */
.expand {

    animation: expandMovement 0.4s ease;
    width: 30vw;
    height: 100vh;
    border-radius: 0;
    background-color: RGBA(10,10,10,0.9);
    left: 0;
    top: 0;
    margin: 0;
    overflow: hidden;
    position: fixed;
    z-index: 1 ;




}

@keyframes expandMovement {
    from {

        height: 100vh;
        width: 8em;
    background-color: RGBA(10,10,10,0.9);
        position: fixed;
        left: 0;
        top: 0;
        z-index: 1;

    }

    to {
        width: 30vw;
        height: 100vh;
    background-color: RGBA(10,10,10,0.9);
        margin: 0;
        z-index: 1;
        position: fixed;
        left: 0;
        top: 0;

    }
}


/* should do retract animation */

.retract {

    animation: retractMovement 0.3s ease;
    background-color: RGBA(10,10,10,0.9);
    width: 20vw;
    height: 100vh;
    z-index: 1;
    position: fixed;
    left: -200vw;

}

@keyframes retractMovement {
    from {
        width: 20vw;
        height: 100vh;
        border-radius: 0;
    background-color: RGBA(10,10,10,0.9);
        left: 0;
        top: 0;
        margin: 0;
        z-index: 1;
        position: fixed;
        left: 0;
        top: 0;

    }

    to {
    background-color: RGBA(10,10,10,0.9);
    width: 20vw;
    height: 100vh;
    z-index: 1;
    position: fixed;
    left: -20vw;
    }
    }


/* moving burger icon */

.movedright{
        padding: 5px;
    width: 5em;
    z-index: 2;
    top: 20px;
    left: 24vw;
}
