

body {
    background-color: black;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 4em auto 4em auto 4em auto 4em auto 4em auto 4em auto 4em auto 4em auto 4em auto 4em auto;
    margin: 0 auto;
    font-family: "Rubik", sans-serif;
}

.container {
    padding: 5px;
    width: 5em;
    z-index: 2;
    position: fixed;
    top: 20px;
    left: 20px;
}

.container div {
    margin: 0em;
    width: 40px;
    background-color: #fff;
    border-radius: 3px;
    content: '';
    display: block;
    height: 5px;
    margin: 7px 0;
    transition: all .2s ease-in-out;
}

.title {
    grid-row: 2 / span 1;
    grid-column: 2 / span 6;
    max-height: 20em;
    width:100%;
    height:100%;
    color:white;
    text-align: center;
    font-size: 4em;
    background-color: black;

}
h1 {
    text-align: center;
}
.vl {
  border-left: 2px solid white;
  margin-left: -3px;
  top: 0;
    grid-row-start: 1;
    grid-row-end: span 18;
    grid-column-start: 5;
    z-index: -1;
}

.assignment {
background-color: black;
}

.assignment p {
font-size: 1.2em;
}

.assignment a {
    text-decoration: underline;
    text-align: center;
}
/*styling hovers on pictures */

img {
    width:100%;
    flex:none;
        box-sizing: border-box;
    margin-left: -100%;

}

.wireframe {
    width: 50%;
    max-height: 80vh;
}

#wireframe2 {
    margin-left: 0%;
}

.responsive {
    width: 50%;
    max-height: 80vh;
    padding: 10px;
}

#responsive2 {
    margin-left: 10%;
    width: 32%;
}


.titre {
    flex:none;
    width:100%;
    box-sizing: border-box;
    text-align: center;
}

#second-assignment .titre {
visibility:hidden;
    font-size: 6em;
}

#second-assignment:hover .titre{
    visibility: visible;
    background-color: white;
    opacity: 0.8;
}

#fourth-assignment .titre {
visibility:hidden;
    font-size: 6em;
}

#fourth-assignment:hover .titre{
    visibility: visible;
    background-color: white;
    opacity: 0.8;
}

#fourth-assignment .titre {
visibility:hidden;
    font-size: 6em;
}

#fourth-assignment:hover .titre{
    visibility: visible;
    background-color: white;
    color:black;
    opacity: 0.8;
}

#sixth-assignment .titre {
visibility:hidden;
    font-size: 6em;
}

#sixth-assignment:hover .titre{
    visibility: visible;
    background-color: white;
    color:black;
    opacity: 0.8;
}
/* styling assignment */

#first-assignment {
    color:white;
    grid-row: 4/ span 1;
    grid-column: 2 / span 6;
    background-color: black;
}
#second-assignment {
    grid-row: 6 / span 1;
    grid-column: 3 / span 4;
    display: flex;
    flex-flow: row nowrap;

}

#third-assignment {
    color: white;
    grid-row: 8/ span 1;
    grid-column: 2 / span 6;
}

#fourth-assignment {
    color: white;
    grid-row: 10/ span 1;
    grid-column: 3 / span 4;
        display: flex;
    flex-flow: row nowrap;
}

#fifth-assignment {
    color: white;
    grid-row: 12/ span 1;
    grid-column: 2 / span 6;
}


#sixth-assignment {
    color: white;
    grid-row: 14/ span 1;
    grid-column: 3 / span 4;
        display: flex;
    flex-flow: row nowrap;
}

#seventh-assignment {
    color: white;
    grid-row: 16/ span 1;
    grid-column: 2 / span 6;
}

#eigth-assignment {
    color: white;
    grid-row: 18/ span 1;
    grid-column: 2 / span 6;
}
