

body {
    background-color: black;
    display: grid;
    grid-template-columns: 10px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 10px;
    grid-template-rows: 10px repeat(19, 1fr);
    margin: 0 auto;
}

.container {
    padding: 5px;
    width: 5em;
    z-index: 2;
    position: fixed;
    top: 20px;
    left: 20px;
}

.container div {
    margin: 0em;
    width: 40px;
    background-color: #fff;
    border-radius: 3px;
    content: '';
    display: block;
    height: 5px;
    margin: 7px 0;
    transition: all .2s ease-in-out;
}

.title {
    background-image: url(1_z4GBDrjAwqtW10UyIhpDrw.jpeg);
    grid-row: 2 / span 2;
    grid-column: 4 / span 6;
    color: white;
    font-size: 7em;
    text-align: center;

}

.vl {
  border-left: 2px solid white;
  margin-left: -3px;
  top: 0;
    grid-row-start: 4;
    grid-row-end: span 17;
    grid-column-start: 7;
    z-index: -1;
}

/* styling assignment */

img {
    width:100%;
    height:100%;
    flex:none;
    box-sizing: border-box;
    margin-left: -100%;

}

.titre {
    flex:none;
    width:100%;
    height:100%;
    box-sizing: border-box;
    text-align: center;
    font-size: 7em;
}

/* styling for the assignments */

#first-assignment {
    grid-row: 5/ span 3 ;
    grid-column: 4 / span 6;
    display: flex;
    flex-flow: row nowrap;

}

#second-assignment {
    grid-row: 9/ span 3 ;
    grid-column: 4 / span 6;
    display: flex;
    flex-flow: row nowrap;

}

#third-assignment {
    grid-row: 13/ span 3 ;
    grid-column: 4 / span 6;
    display: flex;
    flex-flow: row nowrap;

}

#fourth-assignment {
    grid-row: 17/ span 3 ;
    grid-column: 4 / span 6;
    display: flex;
    flex-flow: row nowrap;

}

/* styling for hovers */
.assignment a {
    text-decoration: none;
    color: black;
}

.assignment a:hover {
    text-decoration: none;
    color: black;

}

#first-assignment .titre {
    visibility: hidden;
}

#first-assignment:hover .titre {
    visibility: visible;
    background-color: white;
    opacity: 0.8;
}

#second-assignment .titre {
    visibility: hidden;
}

#second-assignment:hover .titre {
    visibility: visible;
    background-color: white;
    opacity: 0.8;
}

#third-assignment .titre {
    visibility: hidden;
}

#third-assignment:hover .titre {
    visibility: visible;
    background-color: white;
    opacity: 0.8;
}

#fourth-assignment .titre {
    visibility: hidden;
}

#fourth-assignment:hover .titre {
    visibility: visible;
    background-color: white;
    opacity: 0.8;
}
