

body {
    background-color: black;
    display: grid;
    grid-template-columns: 10px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 10px;
    grid-template-rows: 10px 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    margin: 0 auto;
    font-family: "Rubik", sans-serif;
}

.container {
    padding: 5px;
    width: 5em;
    z-index: 2;
    position: fixed;
    top: 20px;
    left: 20px;
}

.container div {
    margin: 0em;
    width: 40px;
    background-color: #fff;
    border-radius: 3px;
    content: '';
    display: block;
    height: 5px;
    margin: 7px 0;
    transition: all .2s ease-in-out;
}

.title {
    grid-row: 2 / span 2;
    grid-column: 4 / span 6;
    color: white;
    font-size: 5em;
    text-align: center;

}

.vl {
  border-left: 1px solid white;
  margin-left: -3px;
  top: 0;
    grid-row-start: 4;
    grid-row-end: span 4;
    grid-column-start: 7;
    z-index: -1;
}

/* styling assignment */

img {
    width:100%;
    height:100%;
    flex:none;
    box-sizing: border-box;
    margin-left: -100%;

}

.titre {
    flex:none;
    width:100%;
    height:100%;
    box-sizing: border-box;
    text-align: center;
    font-size: 6em;
}

#first-assignment .titre {
visibility:hidden;
}

#first-assignment:hover .titre{
    visibility: visible;
    background-color: white;
    opacity: 0.8;
}

#first-assignment {
    grid-row: 5/ span 3 ;
    grid-column: 4 / span 6;
    display: flex;
    flex-flow: row nowrap;

}

.assignment a {
    text-decoration: none;
    color: black;
}

.assignment a:hover {
    text-decoration: none;
    color: black;

}
