

body {
    background-color: black;
    display: grid;
    grid-template-columns: 10px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 10px;
    grid-template-rows: 10px auto 4em auto 4em auto 4em auto 4em;
    margin: 0 auto;
    font-family: "Rubik", sans-serif;
}

.container {
    padding: 5px;
    width: 5em;
    z-index: 2;
    position: fixed;
    top: 20px;
    left: 20px;
}

.container div {
    margin: 0em;
    width: 40px;
    background-color: #fff;
    border-radius: 3px;
    content: '';
    display: block;
    height: 5px;
    margin: 7px 0;
    transition: all .2s ease-in-out;
}

.title {
    grid-row: 2 / span 1;
    grid-column: 4 / span 6;
    color: white;
    font-size: 6em;
    text-align: center;
    background-color: black;

}

.vl {
  border-left: 2px solid white;
  margin-left: -3px;
  top: 0;
    grid-row-start: 2;
    grid-row-end: span 10;
    grid-column-start: 7;
    z-index: -1;
}

/* styling assignment */

img {
    height: 100%;
    width: 100%;
    flex:none;
    box-sizing: border-box;
    margin-left: -100%;

}

.titre {
    flex:none;
    width:100%;
    box-sizing: border-box;
    text-align: center;
    font-size: 4em;
}

/* styling for the assignments */

#first-assignment {
    grid-row: 4/ span 1 ;
    grid-column: 4 / span 6;
    display: flex;
    flex-flow: row nowrap;

}

#second-assignment {
    grid-row: 6/ span 1 ;
    grid-column: 4 / span 6;
    display: flex;
    flex-flow: row nowrap;

}

#third-assignment {
    grid-row: 8/ span 1 ;
    grid-column: 4 / span 6;
    display: flex;
    flex-flow: row nowrap;

}

/* styling for hovers */
.assignment a {
    text-decoration: none;
    color: black;
}

.assignment a:hover {
    text-decoration: none;

}

#first-assignment .titre {
    visibility: hidden;
}

#first-assignment:hover .titre {
    visibility: visible;
    background-color: white;
    opacity: 0.8;
}

#second-assignment .titre {
    visibility: hidden;
}

#second-assignment:hover .titre {
    visibility: visible;
    background-color: white;
    opacity: 0.8;
}

#third-assignment .titre {
    visibility: hidden;
}

#third-assignment:hover .titre {
    visibility: visible;
    background-color: white;
    opacity: 0.8;
}

